/* global vars */
/*YEAR 7 Colours*/
/*
@scheme-color: #A30000;

*/
/*YEAR 8 Colours*/
/*
@scheme-color: #f7b21d;

*/
/*YEAR 9 Colours*/
/*!
 * "Fork me on GitHub" CSS ribbon v0.1.1 | MIT License
 * https://github.com/simonwhitaker/github-fork-ribbon-css
*/
/*GitHub Ribbon*/
.ribbon {
  background-color: #0071bb;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  left: -50px;
  top: 40px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 81.25% 'Ubuntu', Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
}
/*Main Styles*/
* {
  margin: 0px padding: 0px;
  font: Arial, Helvetica, sans-serif;
}
html {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  text-align: center;
  background: #FFF;
}
body {
  max-width: 800px;
  background: #FFFFFF;
  text-align: left;
  padding: 20px;
  font-size: 16px;
  margin: 20px auto;
  clear: both;
}
code {
  border-radius: 4px 4px 4px 4px;
  background: #B9E5FA;
  padding: 2px 5px;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap !important;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
}
pre {
  font-size: 16px;
  font-family: 'Ubuntu mono', "Courier New", Courier, monospace;
  font-weight: 400;
  line-height: 1.5;
  clear: both;
  background: #B9E5FA;
  padding: 20px;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
  overflow: auto;
}
/* CSS For Lesson*/
.link-heading {
  font-size: 15px;
  background: #0071bb;
  margin-top: 10px;
  padding: 10px 10px;
  border-radius: 3px;
}
.link-heading a:link {
  color: #FFFFFF;
}
.link-heading a:visited {
  color: #FFFFFF;
}
.link-heading a:hover {
  color: #808080;
}
.link-heading a:link {
  color: #FFFFFF;
}
h1 {
  font-size: 50px;
  color: #0071bb;
  margin-left: auto;
  margin-right: auto;
}
.activity h2 {
  font-size: 30px;
  color: #FFF;
  background: #0071bb;
  margin-top: 30px;
  padding: 10px 10px;
  border-radius: 5px;
}
/* added to avoid using default link style */
.activity a:link {
  color: #737373;
}
.activity a:visited {
  color: #737373;
}
.activity a:hover {
  color: #808080;
}
.activity img,
video {
  padding: 5px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 600px;
}
.activity iframe,
object {
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 1000px;
}
.objectives h2 {
  font-size: 30px;
  color: #FFF;
  background: #d10162;
  margin-top: 30px;
  padding: 10px 10px;
  border-radius: 5px;
}
/* CSS for sub activities*/
.learn h3 {
  background-image: url(icons/Learn.svg);
}
.key h3 {
  background-image: url(icons/keypoint.png);
}
.silver h3 {
  background-image: url(icons/silver.png);
}
.gold h3 {
  background-image: url(icons/gold.png);
}
.platinum h3 {
  background-image: url(icons/platinum.png);
}
.research h3 {
  background-image: url(icons/Research.png);
}
.design h3 {
  background-image: url(icons/Design.png);
}
.build h3 {
  background-image: url(icons/Build.png);
}
.test h3 {
  background-image: url(icons/Test.png);
}
.run h3 {
  background-image: url(icons/Run.svg);
}
.document h3 {
  background-image: url(icons/Document.png);
}
.code h3 {
  background-image: url(icons/Code.svg);
}
.program h3 {
  background-image: url(icons/Program.png);
}
.try h3 {
  background-image: url(icons/Try.svg);
}
.badge h3 {
  background-image: url(icons/Badge.svg);
}
.save h3 {
  background-image: url(icons/Save.svg);
}
.objectives h3 {
  background-image: url(icons/objectives.png);
}
h3 {
  color: #0071bb;
  background-position: 0px 10px;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-top: 15px;
  padding-left: 50px;
  font-size: 20px;
  /*float: left;*/
  width: 100%;
  border-top: 3px dotted #0071bb;
}
/*CSS FOR LISTS*/
.org-ul li:before {
  clear: none;
  font-size: 16px;
  line-height: 24px;
  margin-top: 3px;
  list-style-position: outside;
  margin-left: 5px;
  content: " ";
  border-radius: 4px;
  border: 2px solid #0071bb;
  padding: 6px 6px;
  margin-right: 20px;
  float: left;
}
.org-ol {
  list-style-type: none;
  list-style-type: decimal !ie;
  /*IE 7- hack*/
  counter-reset: li-counter;
}
.org-ol > li {
  position: relative;
  margin-bottom: 6px;
}
.org-ol > li:before {
  clear: none;
  color: white;
  background-color: #0071bb;
  font-size: 10px;
  line-height: 10px;
  margin: 1px;
  list-style-position: outside;
  margin-left: 5px;
  content: " ";
  border-radius: 4px;
  padding: 3px 5px 3px 5px;
  margin-right: 10px;
  float: left;
  content: counter(li-counter);
  counter-increment: li-counter;
}
.org-ul {
  list-style-type: none;
  line-height: 24px;
}
blockquote {
  text-align: center;
  font-family: Georgia,serif;
  font-size: 18px;
  font-style: italic;
  width: 600px;
  margin-left: 100px;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;
}
blockquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}
blockquote:after {
  display: block;
  content: "\201D";
  font-size: 80px;
  position: absolute;
  right: -20px;
  bottom: -60px;
  color: #7a7a7a;
}
blockquote cite {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}
blockquote cite:before {
  content: "\2014 \2009";
}
/*TABLES GRRR*/
table {
  border: 1px solid #0071bb;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}
table th {
  background: #B9E5FA;
  border: 1px solid #0071bb;
  color: #0071bb;
}
table td {
  border: 1px solid #0071bb;
}
/* TOC */
#table-of-contents {
  z-index: 100;
  font-size: 10pt;
  position: fixed;
  right: 0em;
  top: 0em;
  background: white;
  -webkit-box-shadow: 0 0 0.5em #777777;
  -moz-box-shadow: 0 0 0.5em #777777;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  text-align: right;
  /* ensure doesn't flow off the screen when expanded */
  max-height: 80%;
  overflow: auto;
}
#table-of-contents h2 {
  font-size: 10pt;
  max-width: 9em;
  font-weight: normal;
  padding-left: 0.5em;
  padding-top: 0.05em;
  padding-bottom: 0.05em;
}
#table-of-contents #text-table-of-contents {
  display: none;
  text-align: left;
}
#table-of-contents:hover #text-table-of-contents {
  display: block;
  padding: 0.5em;
  margin-top: -1.5em;
}
#table-of-contents #text-table-of-contents ul {
  list-style-position: outside;
}
/*Maths*/
math {
  font-size: 200%;
}
/*Floating Nav Bar*/
#stickyribbon {
  width: 800px;
  background: #0071bb;
  border-radius: 5px;
  position: static;
  top: 0
          margin:15px 0;
}
#stickyribbon ul {
  display: table;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#stickyribbon li {
  display: table-cell;
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
  padding: 0 10px;
}
#stickyribbon li a {
  display: block;
  color: #fff;
  text-decoration: none;
}
#stickyribbon li a:hover {
  color: #B9E5FA;
}
.strike {
  text-decoration: line-through;
}
/* CSS for overlay colours */
#overlayMenu {
  position: fixed;
  right: -3em;
  transition: 0.3s;
  top: 40%;
  width: 3em;
  margin: -2.5em 0 0 0;
  z-index: 5;
  background: rgba(133, 194, 10, 0.8);
  color: white;
  font-weight: bold;
  font-size: large;
  text-align: left;
  border: solid rgba(133, 194, 10, 0.5);
  border-right: none;
  padding: 0.5em 0.5em 0.5em 1em;
  box-shadow: 0 1px 3px black;
  border-radius: 2em 0.5em 0.5em 2em;
}
#overlayMenu ul {
  list-style-type: none;
}
#overlayMenu:hover {
  right: 0;
}
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0,0,0,0.5);*/
  z-index: 2;
  cursor: pointer;
}
#underlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0,0,0,0.5);*/
  z-index: 0;
  cursor: pointer;
}
